<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴</title>
</head>
<body>
    <h1>메뉴를 선택하세요</h1>
    <a href="/play?text=버튼1을 누르셨습니다.">
        <button>커피 버튼</button>
    </a>
    <a href="/play?text=버튼2를 누르셨습니다.">
        <button>캐모마일 버튼</button>
    </a>
    <a href="/play?text=버튼3을 누르셨습니다.">
        <button style="font-size: 70pt;">녹차 버튼</button>
        <!-- <a href="/play?text=버튼4을 누르셨습니다.">

        <button style="width: 70px;height: 70px;">dj</button> -->

    </a>
</body>
</html>